@import "tailwindcss";

@font-face {
  font-family: "Gilroy-Regular";
  src: url("/fonts/Gilroy-Regular.woff") format("woff"), 
       url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("/fonts/Gilroy-Bold.woff") format("woff"), 
       url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("/fonts/Gilroy-Medium.woff") format("woff"), 
       url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Black";
  src: url("/fonts/Gilroy-Black.woff") format("woff"), 
       url("/fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@theme {
  --color-evergreen: #2C5E42;
  --color-ivory: #EDE6D5;
  --color-sand: #DBCFB2;
  --color-deep: #00008B;
  --font-gilroy-regular: "Gilroy-Regular", sans-serif;
  --font-gilroy-bold: "Gilroy-Bold", sans-serif;
  --font-gilroy-medium: "Gilroy-Medium", sans-serif;
  --font-gilroy-black: "Gilroy-Black", sans-serif;
}

@layer utilities {
  .max-width {
    @apply max-w-[1440px] mx-auto px-4 lg:px-6 2xl:px-8;
  }
}